Repository johanhoffman/DD2365-VT20, changes with the owners that CODEOWNERS names for each.
All owners: @johanhoffman, @edvinvp, @jonasnylund, @LindeBee, @ajlace, @rydefalk, @sankhaffaf

Created using Colaboratory
  template-report-Navier-Stokes-test.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Navier-Stokes.ipynb
Owners: @johanhoffman

Delete template-report-Navier-Stokes-test.ipynb
  template-report-Navier-Stokes-test.ipynb
Owners: @johanhoffman

Update rydefalk_lab1.ipynb
  Lab-1/rydefalk_lab1.ipynb
Owners: @rydefalk

Stokes report
  Lab-1/edvinvp_Stokes.ipynb
Owners: @edvinvp

Lab 1 uploaded
  Lab-1/jonasnylund_lab1.ipynb
Owners: @jonasnylund

Updated author name (oops)
  Lab-1/jonasnylund_lab1.ipynb
Owners: @jonasnylund

Created using Colaboratory
  template-report-Stokes.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Stokes.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Navier-Stokes.ipynb
Owners: @johanhoffman

Template copy
  Lab-2/Linde-Navier-Stokes.ipynb
Owners: @johanhoffman

Strouhal number
  Lab-2/Linde-Navier-Stokes.ipynb
Owners: @johanhoffman

Create rydefalk_lab2.ipynb
  Lab-2/rydefalk_lab2.ipynb
Owners: @rydefalk

Created using Colaboratory
  template-report-Stokes-AMR.ipynb
Owners: @johanhoffman

final
  Lab-2/Linde-Navier-Stokes.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Stokes-AMR.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Stokes-AMR.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Stokes-AMR.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Stokes-AMR.ipynb
Owners: @johanhoffman

Lab 2 - Navier-Stokes
  Lab-2/pressure.avi
  Lab-2/velocity.avi
Owners: @johanhoffman

Created using Colaboratory
  template-report-Stokes-AMR.ipynb
Owners: @johanhoffman

Created using Colaboratory
  template-report-Stokes-AMR.ipynb
Owners: @johanhoffman

Last minute upload!
  Lab-2/jonasnylund_lab2.ipynb
Owners: @jonasnylund

Fixed some small things, like a print statement that crashed and removed some 1MB of install notes
  Lab-2/jonasnylund_lab2.ipynb
Owners: @jonasnylund

Created using Colaboratory
  template-report-Stokes-AMR.ipynb
Owners: @johanhoffman

Created using Colaboratory
  Lab-3/Linde-Stokes-AMR.ipynb
Owners: @johanhoffman

Created using Colaboratory
  Lab-3/Linde-Stokes-AMR.ipynb
Owners: @johanhoffman

part of 1
  Lab-3/Linde-Stokes-AMR.ipynb
Owners: @johanhoffman

psi effect velocity
  Lab-3/Linde-Stokes-AMR.ipynb
Owners: @johanhoffman

Total error + recursive refinement
  Lab-3/Linde-Stokes-AMR.ipynb
Owners: @johanhoffman

Create brinkmansandbox.py
  Projects/brinkmansandbox.py
Owners: @johanhoffman

Created using Colaboratory
  Brinkman_NSE.ipynb
Owners: @johanhoffman

Created using Colaboratory
  Brinkman_NSE.ipynb
Owners: @johanhoffman

Create brinkmansandbox20200504.py
  Projects/brinkmansandbox20200504.py
Owners: @johanhoffman

Create tesresults_20200405.png
  Projects/tesresults_20200405.png
Owners: @johanhoffman

concentration not working yet
  Projects/ProjectV2.ipynb
Owners: @johanhoffman

plot solution
  Project/ProjectV2.ipynb
Owners: @johanhoffman

Create levelset20200510.py
  Projects/levelset20200510.py
Owners: @johanhoffman

working transport function
  Project/ProjectV2.ipynb
Owners: @johanhoffman

Create levelset20200512.py
  Projects/levelset20200512.py
Owners: @johanhoffman

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @johanhoffman will be requested for
# review when someone opens a pull request.
*       @johanhoffman

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies files with a username as part of the filename, 
# only the owner with that username and not the global
# owner(s) will be requested for a review.
*edvinvp*    @edvinvp
*jonasnylund*    @jonasnylund
*LindeBee*    @LindeBee
*ajlace*    @ajlace
*rydefalk*    @rydefalk
*sankhaffaf* @sankhaffaf
